.container {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(236, 250, 255);
  cursor: pointer;
}

.title {
  font-size: calc(1vw + 2vh);
}

.body {
  font-size: calc(1vw + 1.3vh);
}
