.container {
  display: flex;
  align-items: center;
  height: 5vh;
}

.container a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 80px;
  font-size: 20px;
}

.active a {
  color: rgb(0, 129, 172);
}

.notActive a {
  color: rgb(0, 129, 172);
}
