
ul {
    padding-left: 0
}
.list {
  display: flex;
  flex-direction: column;
  width: 72%;
  margin-left: 5%;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.loader {
  width: 70%;
  height: 70%;
  margin-left: 20%;
  margin-top: 20%;
}
